{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<a href="/pokemon/id">Id</a>
		<a href="/pokemon/name">Name</a>
		<a href="/pokemon/id">Type</a>


		<ul>
			{% for pokemon in data %}
				<li class="bg-success">
					<a href="/pokemon-details/{{ pokemon.name }}" aria-label="Page vers le produit">{{pokemon.id}}
						-
						{{pokemon.name}}
						-
						{{pokemon.types[0].type.name}}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="paginationbarre row" style="margin-top: 15px">
			{{ knp_pagination_render(data) }}

		</div>
	</div>
{% endblock %}
