{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!
{% endblock %}

{% block body %}
	<div>
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<a href="/pokemon/id">Id</a>
		<a href="/pokemon/name">Name</a>
		<a href="/pokemon/id">Type</a>


		<ul>
			{% for pokemon in data %}
				<li>
					<a href="/pokemon-details/{{ pokemon.name }}" aria-label="Page vers le produit">{{pokemon.id}}
						-
						{{pokemon.name}}
						-
						{{pokemon.types[0].type.name}}</a>
				</li>
			{% endfor %}
		</ul>
		<div>
			{{ knp_pagination_render(data) }}

		</div>
	</div>
{% endblock %}
